
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

 }

 :root {
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef; 
 }

 html{
    font-size: 62.5%;
    overflow-x:hidden;

 }

 body{
    background: var(--bg-color);
    color: var(--text-color);
 }

 section{
    min-height: 20vh;
    padding: 10rem 9% 2rem;
 }
 .header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index:100 ;

 }

 .header.sticky{
   border-bottom: .1rem solid rgba(0, 0,0, .2);
 }
 .logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight:600;
    cursor:default;
 }
 .navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
 }

 .navbar a:hover,
 .navbar a.active{
    color: var(--main-color);
 }



#main > h1 {
    margin-bottom: 8%;
    text-align: center;
    font-family: "Fredoka One", cursive;
    color: #00d1d1;
    letter-spacing: 0.1em;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.logo-link {
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 24px;
    color: #fff;
}

.navlinks a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}

.navlinks a:hover {
    color: #f5bd07;
    transition: color 0.3s ease;
    
}



  .p {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #cccccc;
    line-height: 0.1em;
  }
  
  .p span {
    background:#ce0303;
    padding:0 10px;
  }
  
  input {
    margin-bottom: 3%;
  }
  
  input:last-of-type {
    margin-bottom: 0;
  }
  
  input, button {
    padding: 3%;
    width: 100%;
  }
  
  .login-container {
    background-color: white;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 40vw;
    margin: auto;
    height: 70vh;
    margin-top: 1vh;
  }
  
  #submit, #create-acct-btn {
    background-color: #060b1f;;
    color: white;
    border: none;
    margin-top: 5%;
  }
  
  button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
  }
  
  #sign-up {
    border: none;
  }
  
  #create-acct {
    display: none;
  }
  
  #return-btn {
    background: none;
    color: grey;
    text-decoration: underline;
    border: none;
    margin-top: 3%;
  }


   #nav-links a {
    color: #ddd;
    text-decoration: none;
    margin: 0 16px;
    font-size: 18px;
    transition: color 0.3s ease;
}

#nav-links a:hover {
    color: #f5bd07;
}

#nav-links .signup-btn {
    padding: 10px 20px;
    border: none;
    background-color: #850885;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

#nav-links .signup-btn:hover {
    background-color: #f5bd07;
    color: #222;
} 
@media (max-width: 768px) {
  .row, .cards-container {
      flex-direction: column;
  }
  .column, .card {
      flex: 100%;
  }
}